<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.2.6" targetFramework="net40" />
  <package id="nanoFramework.M2Mqtt" version="4.3.1" targetFramework="net40" />
  <package id="nanoFramework.Runtime.Events" version="1.1.1" targetFramework="net40" />
  <package id="nanoFramework.Runtime.Native" version="1.0.7" targetFramework="net40" />
  <package id="nanoFramework.System.Net" version="1.2.2" targetFramework="net40" />
  <package id="WebSocketSharpFork" version="1.0.4.0" targetFramework="net40" />
  <compilation debug="true" targetFramework="4.0">
    <assemblies>
      <add assembly="System.Net, Version=1.2.2.3, Culture=neutral, PublicKeyToken=c07d481e9758c731" />
    </assemblies>
  </compilation>
</packages>